{% extends "layout.njk" %}

{% block content %}

<div class="card table-container" style="width:60%">
    <a href="/instructors/create">novo instrutor</a>
    <br>
    <br>
    <table id="table-instructors" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Instrutor</th>
                <th>Atendimento</th>
                <th>Alunos</th>
                <th>Modificar</th>
            </tr>
        </thead>
        <tbody>
            {% for instructor in instructors %}
            <tr>
                <td>{{ instructor.name }}</td>
                <td class="edit-services">{{ instructor.services }}</td>
                <td class="edit-services">{{ instructor.total_students }}</td>
                <td><a href="/instructors/{{instructor.id}}">Visualizar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}