    <div class="item">
        <div>Avatar URL</div>
        <div>
            <input type="url" name="avatar_url" placeholder="http://" value="{{ student.avatar_url }}">
        </div>
    </div>

    <div class="item">
        <div>Nome</div>
        <div>
            <input type="text" name="name" placeholder="Nome do aluno" value="{{ student.name }}">
        </div>
    </div>

    <div class="item">
        <div>E-mail</div>
        <div>
            <input type="email" name="email" value="{{ student.email }}">
        </div>
    </div>

    <div class="item">
        <div>Data de nascimento</div>
        <input type="date" name="birth" value="{{ student.birth }}">
    </div>

    <div class="item"> 
        <div>Sexo</div>
        <div>  
            <span>
                <input  
                    type="radio" 
                    name="gender" 
                    value="masculino" 
                    {% if student.gender == 'masculino' %}
                    checked
                    {% endif %}
                    >Masculino 
            </span>

            <span>
                <input 
                    type="radio" 
                    name="gender" 
                    value="feminino" 
                    {% if student.gender == 'feminino' %}
                    checked
                    {% endif %}
                    >Feminino
            </span>
        </div>
    </div>

    <div class="item">
        <div>Área de interesse</div>
        <div>
            <input type="text" name="activities" placeholder="Separe os serviços por vírgula" value="{{ student.activities }}">
        </div>
    </div>

    <div class="item">
        <div>CEP</div>
        <div>
            <input type="text" name="zip" id="zip" placeholder="Insira o CEP para pesquisa" value="{{ student.zip }}" onblur="searchZip()">
        </div>
    </div>

    <div class="item">
        <div>Cidade</div>
        <div>
            <input type="text" name="city" id="city" value="{{ student.city }}">
        </div>
    </div>

    <div class="item">
        <div>Estado</div>
        <input type="text" name="state" id="state" value="{{ student.state }}">
    </div>
    <div class="item">

    <div>Bairro</div>
        <div>
            <input type="text" name="neighborhood" id="neighborhood" value="{{ student.neighborhood }}">
        </div>
    </div>

    <div class="item">
        <div>Rua</div>
        <div>
            <input type="text" name="street" id="street" value="{{ student.street }}">
        </div>
    </div>

    <div class="item">
        <div>Número</div>
        <input type="text" name="number" value="{{ student.number }}">
    </div>

    <div class="item">
        <div>Complemento</div>
        <input type="text" name="complement" id="complement" value="{{ student.complement }}">
    </div>

    <div class="item">
        <div>Instrutor</div>
        <div>
            <select name="instructor">
                {% for instructor in instructorOptions %}
                    <option 
                    value='{{instructor_id}}'
                    {% if student.instructor_id == instructor.id %} 
                        selected="selected" 
                    {% endif %}>
                    {{instructor.name}}
                    </option>
                {%endfor%}
            </select>
        </div>
    </div>  
 
    <button type="submit">Salvar</button>

    <script type="text/javascript">

        function fillInField(json) {
                document.getElementById('city').value = json.localidade
                document.getElementById('state').value = json.uf
                document.getElementById('neighborhood').value = json.bairro
                document.getElementById('street').value = json.logradouro
                document.getElementById('complement').value = json.complemento
            }
            
        function searchZip() {
            const zip = document.getElementById('zip').value.replace('-', '')
            const url = 'https://viacep.com.br/ws/' + zip + '/json'
            const xmlhttp = new XMLHttpRequest()

            xmlhttp.open('GET', url, true)
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4) {
                    if (xmlhttp.status = 200)
                        fillInField(JSON.parse(xmlhttp.responseText));
                }
            }
            xmlhttp.send()
        }
            
    </script>
